@charset "UTF-8";

:root {
	--flay-width: 800px;
	--col-bg: #1c1c1c;
	--col-fg: #ffffff;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--col-bg);
	color: var(--col-fg);
	font-size: 16px;
}

body main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}

body main #root {
	margin: 0;
	padding: 0;
	max-width: var(--flay-width);
	min-height: 100vh;
}

@media screen and (max-width: 430px) {
	body {
		--flay-width: 400px;
	}
	body main #root {
		max-width: var(--flay-width);
	}
}

/* ---- react component ---- */
/* .r-c {
	outline: 1px solid pink;
} */
.r-c:hover {
	outline: 4px solid rgb(0 0 255 / 50%);
}
