/* cover */
.cover {
	aspect-ratio: 800 / 548;
	background: #333 no-repeat center / contain;
	transition: 0.3s;
}

/* input radio, checkbox */
label > input {
	/* display: none; */
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
label > input ~ span {
	cursor: pointer;
}
label > input:checked ~ span {
	color: orange;
}

button {
	background-color: transparent;
	color: var(--col-fg);
	border: 0;
	padding: 0;
	cursor: pointer;
}

input {
	background-color: transparent;
	color: var(--col-fg);
	border: 0;
}
