/* ---- page ---- */
.pagination {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.pagination .page-item {
	display: inline-block;
	background-color: transparent;
	cursor: pointer;
	font-size: 0.875rem;
	margin: 0;
	border: 1px solid #ccc;
	padding: 0.5rem;
	min-width: 3rem;
}

.pagination .page-item.active {
	color: orange;
}
